<!-- ad.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Ad</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .marquee {
            overflow: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #f8f9fa;
            color: #000;
            z-index: 1000;
        }

        .marquee-bottom {
            overflow: hidden;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #f8f9fa;
            color: #000;
            z-index: 1000;
        }
    </style>
</head>
<body>
    <div class="marquee">
        <marquee style="font-weight: bold;" behavior="scroll" direction="left">CONTACT US FOR ADVERTISEMENT : <span style="color: green;font-weight: bold;"><i class="fa-brands fa-whatsapp"></i> 8301897663</span></marquee>
    </div>
    <div id="adCarousel" class="carousel slide" data-bs-ride="carousel" style="margin-top: 2rem;">
        <div class="carousel-inner">
        
            {% for ad in ads %}
            {% if ad.image_ad %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ ad.image_ad.url }}" class="" alt="Ad Image" style="object-fit:contain;width: 756px;height:338px">
                        
                    </div>
                {% elif ad.video_ad %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <video id="videoPlayer{{ forloop.counter }}" class="" style="height: 24rem;width:48rem" controls autoplay >
                            <source src="{{ ad.video_ad.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <script>
                        document.getElementById('videoPlayer{{ forloop.counter }}').addEventListener('ended', function() {
                            $('#adCarousel').carousel('next');
                        });
                    </script>
                {% endif %}
            {% empty %}
                <div class="carousel-item active">
                    <p>No ads found for this stand.</p>
                </div>
            {% endfor %}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var carousel = document.querySelector('#adCarousel');
                var carouselInterval = '{{ad_duration}}' * 1000; // 10 seconds for image
                var currentSlide = 0;
        
                function nextSlide() {
                    currentSlide = (currentSlide + 1) % carousel.querySelectorAll('.carousel-item').length;
                    carousel.querySelector('.active').classList.remove('active');
                    carousel.querySelectorAll('.carousel-item')[currentSlide].classList.add('active');
                    if (carousel.querySelectorAll('.carousel-item')[currentSlide].querySelector('video')) {
                        carousel.querySelectorAll('.carousel-item')[currentSlide].querySelector('video').play();
                    }
                }
        
                setInterval(nextSlide, carouselInterval);
            });
        </script>
    </div>
    <div class="marquee-bottom">
        <marquee behavior="scroll" direction="right"><span style="color: red;font-weight: bold;">COADS</span> BY <span style="color: black;font-weight: bold;">COWORDS</span></marquee>
    </div>
</body>
</html>
